<div fxLayout="column" class="not-found-container">
  <!--<mat-card class="not-found-card">

    <mat-card-title class="large-text">404</mat-card-title>

    <mat-card-subtitle class="medium-text">Whoops! It seems we couldn't find what you're looking for. Try again?</mat-card-subtitle>

    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-actions>

  </mat-card>-->

  <div fxFlex>

    <h1 class="large-text">404</h1>

    <h2 class="medium-text">Whoops! It seems we couldn't find what you're looking for. Try again?</h2>

    <button mat-raised-button color="accent" align="center" routerLink="/">Return home</button>

  </div>
</div>
