<div fxLayout="column" class="about-container">

  <div fxFlex>
    <h1 class="mat-display-2 section-start" align="center">Welcome to nodebucket!</h1>

    <p style="font-size: 16px;">We have been working somewhat diligently on this product for at least three weeks. It is the most
                                passable productivity tool you could find. If you have any problems, just remember that we didn't
                                come up with this (though it is probably our fault).</p>

  </div>

  <br /><br /><br />

  <div fxFlex>
    <h2 class="mat-display-2 section-start" align="center">Contact Us</h2>
    <h3 class="mat-body-strong" align="center">...<br />Actually, please don't.</h3>

  </div>
</div>
