<div fxLayout="column" class="about-container">

  <div fxFlex>
    <h1 class="mat-display-2 section-start" align="center">Welcome to nodebucket!</h1>

    <p style="font-size: 16px;">We have been working somewhat diligently on this product for at least a month. It is the most
                                passable productivity tool you could find. You can add tasks, move them around, delete them...
                                and that's about it. If you have any problems, just remember that we didn't
                                come up with this (though it is probably our fault).
                                Honestly, I did work hard to make sure that everything works correctly.
                                It's just that Angular Material is stubbornly difficult to learn.</p>

  </div>

  <br /><br /><br />

  <div fxFlex>
    <h2 class="mat-display-2 section-start" align="center">Contact Us</h2>

    <div fxLayout="row" style="justify-content: center;">

      <button mat-fab color="primary" aria-label="phone" class="contact-icon">
        <mat-icon>phone</mat-icon>
      </button>

      <button mat-fab color="primary" aria-label="address"  class="contact-icon">
        <mat-icon>location_on</mat-icon>
      </button>

      <button mat-fab color="primary" aria-label="email"  class="contact-icon">
        <mat-icon>alternate_email</mat-icon>
      </button>

    </div>

    <br />

    <h3 class="mat-body-strong" align="center">...<br />Actually, please don't.</h3>

  </div>
</div>
