<div fxLayout="column" class="about-container">

  <div fxFlex>
    <h1 class="title">Welcome to nodebucket!</h1>
    <br /><br />

    <p style="font-size: 16px;">We have been working somewhat diligently on this product for at least three weeks. It is the most
                                passable productivity tool you could find. If you have any problems, just remember that we didn't
                                come up with this (though it is probably our fault).</p>

  </div>

  <br /><br />

  <div fxFlex>
    <h2 class="title">Contact Us</h2>
    <h3 class="title">...<br />Actually, please don't.</h3>

  </div>

  <!--
  <mat-card class="about-card">

    <mat-card-title class="title">Welcome to the nodebucket productivity tool!</mat-card-title>
    <br />
    <mat-card-content class="content">We have been working tirelessly for three weeks to bring you the most passable web application.
                      This tool was designed by someone else, and brought together by someone who is likely not qualified to do so.
                      <br />If you run into any issues using this tool, we probably won't be able to do anything about it.
                      Best of luck.
    </mat-card-content>

  </mat-card>-->
</div>
